<section class="contact-us">
    <div class="contact">
        <div class=" container">
            <div class="row">
                <div class="col-md-4 col-12 p-0">
                    <div class="contact-details pl-3 py-5">
                        <div class="contact-title  pb-4">
                            <h5>Contact Us</h5>
                        </div>
                        <div class="contact-items">
                            <div class="item py-2">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="far fa-envelope con-icon"></i>
                                    </div>
                                    <div class="col-10">
                                        <p class="m-0">support-mail@email.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item py-2">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="fas fa-mobile-alt con-icon"></i>
                                    </div>
                                    <div class="col-10">
                                        <p class="m-0">0021012895020</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item py-2">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="fas fa-map-marker-alt con-icon"></i>
                                    </div>
                                    <div class="col-10">
                                        <p class="m-0">Tala Menofia Egypt 4 Street</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="social-icons pt-3">
                            <div class="row">
                                <div class="col-3"><a href=""><i class="fab fa-facebook-f"></i></a></div>
                                <div class="col-3"><a href=""><i class="fab fa-twitter"></i></a></div>
                                <div class="col-3"><a href=""><i class="fab fa-instagram"></i></a></div>
                                <div class="col-3"><a href=""><i class="fab fa-linkedin-in"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-12">
                    <div class="contact-form py-5">
                        <form action="">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" required>
                                      </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" required>
                                      </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input type="number" class="form-control" >
                                      </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="subject">Subject</label>
                                        <input type="text" class="form-control">
                                      </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input type="text" class="form-control">
                                      </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea class="form-control" rows="5" placeholder="Enter Message"></textarea>
                                      </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary float-right py-2 px-5">Send</button>
                                </div>
                            
                            
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>